<div id="container">
    <h1 id="title">仕組みについて</h1>
    <div id="img">
        <img src="/structure.svg" alt="structure"/>
    </div>
    <p id="content">BotがWeb APIにデータを送ったり、取得したりすることでユーザーにサービスを提供しています。</p>
</div>

<style>
    #container {
        width: 100%;
        display: grid;
        grid-template-areas:
            '.'
            'Title'
            'Img'
            'Content';
        grid-template-rows: 100px auto auto;
        grid-template-columns: 100%;
    }

    #title {
        grid-area: Title;
        font-size: 30px;
        line-height: 70px;
    }
    #img {
        margin: 0 auto;
        grid-area: Img;
    }
    #content {
        font-size: 20px;
        grid-area: Content;
    }
</style>
