<div id="container">
    <h1 id="title">セキュリティについて</h1>
    <p id="content">
        DebtBotは、DebtBotを導入したサーバーでのみ使用できるようにしています。
        また、DebtBotを使用するユーザーの登録と削除にはdiscordのOAuth2を利用しています。
        その他のコマンドについては、ユーザー登録の際に保存されたdiscordのユーザーIDとサーバーのギルドID
        を使用して正規のユーザーかどうかを判断します。
    </p>
</div>

<style>
    #container {
        width: 100%;
        display: grid;
        grid-template-areas:
            '.'
            'Title'
            'Content';
        grid-template-rows: 100px auto auto;
        grid-template-columns: 100%;
    }

    #title {
        grid-area: Title;
        font-size: 30px;
        line-height: 70px;
    }

    #content {
        font-size: 20px;
        grid-area: Content;
    }
</style>
